#UNITY
#-----
Unity_Project/*.suo
Unity_Project/*.csproj
Unity_Project/*.unityproj
Unity_Project/*.pidb
Unity_Project/*.sln
Unity_Project/*.exr
Unity_Project/*.exr.meta
Unity_Project/.idea/
Unity_Project/Library/
Unity_Project/Builds/
Unity_Project/AssetBundles/
Unity_Project/[Tt]emp/
Unity_Project/[Tt]emp.meta
Unity_Project/obj

#PROGRAMMERS
#-----------
Unity_Project/_ReSharper*
Unity_Project/.project
Unity_Project/pom.xml
Unity_Project/workspace.xml
Unity_Project/UnityVS*

