#UNITY
#-----
*.suo
*.csproj
*.unityproj
*.pidb
*.sln
*.exr
*.exr.meta
.idea/
Library/
Builds/
AssetBundles/
Assets/IMVUnity/Demos/
Assets/IMVUnity/Demos.meta
Assets/StreamingAssets/
[Tt]emp/
[Tt]emp.meta
obj



#PROGRAMMERS
#-----------
_ReSharper*
.project
pom.xml
workspace.xml
UnityVS*



#ARTISTS
#-------
*.blend1
*.blend2



#PROJECT
#-------
ios_build
*.userprefs
imvu-entertainer.sln.DotSettings.user
